@model Aranoz.Model.Model.AdminViewModel

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    var i = 1;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <center>
                @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
                {
                    <h1> ADD NEW Category</h1>
                    <div>
                        @Html.HiddenFor(Model => Model.Category.CategoryId)
                        <div class="col-lg-6">
                            <label>Category Name</label>
                            <div class="form-group">
                                @Html.TextBoxFor(Model => Model.Category.CategorName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(Model => Model.Category.CategorName)
                            </div>
                        </div>
                        @if (Model.Category != null && Model.Category.CategoryId >0)
                        {
                            <center>
                                <div class="form-group row">
                                    <div class="col-lg-8 add-btn">
                                        <input type="submit" value="Update" class="btn btn-light"/>
                                    </div>
                                </div>
                            </center>
                        }
                        else
                        {
                            <center>
                                <div class="form-group row">
                                    <div class="col-lg-8 add-btn">
                                        <input type="submit" value="Add" class="btn btn-light"/>
                                    </div>
                                </div>
                            </center>
                        }
                    </div>
                }
            </center>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data Table</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Category Name</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CategoryList)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @item.CategorName
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "DeleteCategory", new { Id = item.CategoryId }, new { title = "Delete Item", @class = "btn btn-danger", data_toggle = "tooltip", data_placement = "top", onclick = "return confirm('Are you sure you want to delete this item?')" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Update", "GetSingleCategory", new { Id = item.CategoryId }, new { title = "Edit Item", @class = "btn btn-success", data_toggle = "tooltip", data_placement = "top" })
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    input.btn.btn-light {
        padding: 8px 50px;
        background-color: slategrey;
        color: #fff;
        margin-left: 95%;
    }
</style>
